<a href="https://colab.research.google.com/github/BrookeBentley/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_counts[application_counts < 700].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df ['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
Y= dummies_df.IS_SUCCESSFUL.values
X= dummies_df.drop(columns = 'IS_SUCCESSFUL').values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=1, stratify= Y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()
input_dims = len(X_train[0])
# First hidden layer
nn.add(tf.keras.layers.Dense(units = 80, activation = 'relu', input_dim = input_dims))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation = 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3440

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,901
Trainable params: 5,901
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics= ["accuracy"])

In [17]:
# Train the model
nn.fit(X_train_scaled, Y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5698 - accuracy: 0.7237
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7287
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7322
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7311
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7322
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7308
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7318
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7331
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7326
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7355
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7338
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7341
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7343
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7357
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7344
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7348
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7350
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7360
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7360
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7347
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7348
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7359
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7373
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7368
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7364
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7360
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7372
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7353
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7356
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7369
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7377
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7383
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7369
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7364
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7376
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7368
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7369
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7382
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7373
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7373
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7382
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7376
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7385
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7371
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7367
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7388
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7378
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7380
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7376
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7384

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,Y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5561 - accuracy: 0.7278 - 1s/epoch - 5ms/step
Loss: 0.5560739040374756, Accuracy: 0.7278134226799011

In [20]:
# Export our model to HDF5 file
nn.save('HDF5 files/AlphabetSoupCharity_Optimization1.h5')